*.swp
*.swo
in
ranking.cluste*
discover.*
*.matrix
clustering
*.arff
paralle.cpp
parallel
teste*
*.in
*.cluster*
.RData
.Rhistory
*.frequencys
*.terms
*.pdf
*.data
ou
params.report
report
results.aux
results.log
out
